<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381270706694-m7vd5f2dbm5djk14jjh39id68un08jls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381270706694-m7vd5f2dbm5djk14jjh39id68un08jls</string>
	<key>API_KEY</key>
	<string>AIzaSyBr2smekx7otnKg4jmHH9P1HpzTP9ovTCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>381270706694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naxmachi.ProjetFitHelp</string>
	<key>PROJECT_ID</key>
	<string>fithelp-4f16b</string>
	<key>STORAGE_BUCKET</key>
	<string>fithelp-4f16b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381270706694:ios:5e85692cd7f0884b381187</string>
</dict>
</plist>